@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #3b6ea3;
  --secondary-color: #aedcee;
  --third-color: #c2ad5e;
  --fourth-color: #f5fafd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4.5em;
}

h1:hover {
  color: var(--secondary-color);
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: var(--fourth-color);
  background-color: var(--primary-color);
}

button:hover {
  background-color: var(--fourth-color);
  color: var(--primary-color);
  cursor: pointer;
}

.color-acento {
  color: var(--primary-color);
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: var(--fourth-color);
}

header .logo {
  margin: 0;
  width: 200px;
  height: 200px;
  padding: 25px 30px;
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  background-color: var(--third-color);
  border-radius: 10px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: var(--fourth-color);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero button{
    font-size: 1.75em;
}

#somos .container {
  text-align: center;
  padding: 200px 12px;
}

#nuestros-productos {
  background-color: var(--secondary-color);
  text-align: center;
}

#nuestros-productos .container {
  padding: 150px 12px;
}

#nuestros-productos h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#nuestros-productos p {
  display: none;
}

#nuestros-productos .carta {
  background-position: center center;
  background-size: cover;
  padding: 70px;
  margin: 22px;
  border-radius: 15px;
}

#nuestros-productos .carta h3{
    color: var(--fourth-color);
}

.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/agua.png);
}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/tridestilada.jpeg);
}

.carta:last-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/hielo.png);
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: var(--secondary-color);
    height: 80vh;
}

#contacto h2{
    font-size: 9vw;
}

#contacto button{
    font-size: 5vw;
}

#contacto button a{
    text-decoration: none;
    color: white;
}

#contacto button a:hover{
    background-color: var(--fourth-color);
    color: var(--primary-color);
}

footer{
    background-color: var(--fourth-color);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer p:nth-child(2) a{
    text-decoration: none;
    color: rgb(100,100,100 );
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Media Queries */
@media (min-width:720px){

  header{
    position: fixed;
    width: 100%;
  }


  header .container{
    flex-direction: row;
    justify-content: space-between;
  }

  header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #hero h1{
    font-size: 5em;
  }

  #somos .container{
    display: flex;
    justify-content: center;
  }

  #somos .texto{
    padding-left: 30px;
    width: 50%;
    text-align: initial;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #somos .img-container{
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ), url(../assets/agua.png);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 4px 2px 11px rgba(0,0,0,0.5);
  }

  #nuestros-productos .productos{
    display: flex;
    justify-content: center;
  }

  #nuestros-productos p{
    display: block;
    margin-bottom: 30px;
    color: white;
    
  }

  #nuestros-productos h3{
    margin-top: 0;
  }

  #nuestros-productos .carta{
    padding: 50px;
  }

  

  #nuestros-productos button a{
    text-decoration: none;
    color: white;
  }

  #nuestros-productos button a:hover{
    background-color: white;
    color: var(--primary-color);
  }

  #caracteristicas{
    background-image: url(../assets/tridestilada.jpeg);
    background-repeat: no-repeat;
    background-size: 500px 800px;
    background-position: calc(100vw - 700px) 120px;
    
    
    margin-bottom: 50px;
  }

  #caracteristicas .container{
    text-align: initial;
  }

  #caracteristicas ul{
    margin-left: 100px;
  }

  #contacto h2{
    font-size: 5em;
  }

  #contacto button{
    font-size: 2em;
  }

  footer .container{
    justify-content: center;
  }

}

@media (min-width: 1200px){
  #caracteristicas{
    background-position-x: calc(100vw - 800px);
  }

  footer .container{
    justify-content: center;
  }
}
